.products-recommend{
    margin: 0 -15px;
    .title-rfor-you{
        background: #189eff ;
        border-radius: 4px;
        margin: 0 15px 25px;
        
        div{
            background: url('https://media3.scdn.vn/img3/2019/10_16/IUHU9r.png') 0px 0px / auto 100% no-repeat;
            display: flex;
        }
        h4{
            padding: 15px;
            margin: 10px;
            color: white;
            font-style: italic;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .list-products-home{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .user-slf{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
        ul.list-user-slf{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            li{
                flex:  0 0 calc(16.66% - 20px);
                max-width: calc(16.66% - 20px);
                margin: 10px;
                transition: all 0.3s;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                background: #e2f6f7;
                border-radius: 4px;
                &:hover{
                    background: #189eff;
                    button{
                        color: white;
                    }
                }
            }
            a{
                display: inline-block;
                text-decoration: none;
                width: 100%;
                height: 100%;
            }
            button.btn-slf{
                border: none;
                background: none;
                padding: 10px 15px;
                width: 100%;
                height: 100%;
                font-weight: 500;
                border-radius: 4px;
            }
        }
    }
}

@media(max-width: 480px){
    .products-recommend{
        margin: 0;
    }
}
