.product{
    padding: 0 15px;
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 20px;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s;
    min-height: 480px;
    &:hover{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.459);
    }
    .percent-discout{
        position: absolute;
        top: 15px;
        right: 15px;
        background:  rgba(255, 0, 0, 0.904);
        text-align: center;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        p{
            margin: 0;
            padding: 11px 6px;
            font-size : 12px;
            color: white;
        }
    }
    // .percent-discout-480{
    //     display: none !important;
    // }
    .img-product{
        position: relative;
        overflow: hidden;
        margin : 15px 0;
        border-radius: 4px;
        cursor: pointer;
        img{
            width: 100%;
            height: 198px;
            object-fit: contain;
            transition: all 0.5s;
            overflow: hidden;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .about-package{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        min-height: 24px;
        img{
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
        span{
            display: inline-block;
            font-size: 14px;
        }
    }
    .info-product{
        .rating-and-order{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            color: #bababa;
            font-weight: 500;
            span{
                display: block;
            }
            span.order-count{
                text-align: right;
                font-size: 14px;
                &::before{
                    content: '\f02b';
                    font-family: 'Font Awesome 5 Pro';
                }
            }
        }

        .name-product{
            display: inline-block;
            min-height: 48px;
            font-weight: 500;
            text-decoration: none;
            color: black;
            margin-bottom: 16px;
            p{
                margin: 0;
            }
            &:hover{
                color: #189eff;
            }
        }
        .price-product{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                flex: 0 0 50%;
                max-width: 50%;
                &:nth-child(2){
                    text-align: right;
                }
            }
        }

    }

    .senmall{
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        background: #bababa0a;
        width: calc(100% - 30px);
        align-items: center;
        hr{
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0 0 5px 0;
        }
        p{
            font-size: 14px;
            margin: 5px 0 10px;
            color: #bababa;
            &:nth-child(2){
                font-size: 0;
                text-align: center;
                &::before{
                    content :'\f494';
                    font-family: 'Font Awesome 5 Pro';
                    font-size: 14px;
                    margin-right: 10px;
                }
            }
            &:nth-child(3){
                font-weight: 500;
            }
        }
    }
}
.icon-star{
    color: #ffc120;
    
}

@media(max-width : 1199px){
    .product{
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media(max-width : 991px){
    .product{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media(max-width: 767px ){
    .product{
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        // border: 1px solid #bababa3a;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid #bababa69;
    }
}
@media(max-width : 480px){
    .product{
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
        border: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-height: 150px;
        margin-bottom: 20px;
        padding: 15px;
        border-bottom: 1px solid #e2f6f7;
        border-radius: unset;
        .info-product{
            .name-product{
                min-height: auto;
            }
        }
        .img-product{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
            margin: 0;
            position: relative;
            background: rgba(128, 128, 128, 0.274);
            a{
                display: inline-block;
            }
            img{
                max-width: 180px;
                max-height: initial;
                border-radius: 4px;
            }
        }
        // .percent-discout-480{
        //     display: block !important;
        //     position: absolute;
        //     top: 0;
        //     right: 0px;
        //     background:  rgba(255, 0, 0, 0.904);
        //     text-align: center;
        //     border-radius: 100%;
        //     width: 40px;
        //     height: 40px;
        //     p{
        //         margin: 0;
        //         padding: 11px 6px;
        //         font-size : 12px;
        //         color: white;
        //     }
        // }
        .percent-discout{
            right: 50%;
        }
        .img-product+div{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
        }
        hr{
            display: none;
        }
        // .percent-discout{
        //     display: none;
        // }
        .senmall{
            flex: 0 0 100%;
            max-width: 100%;
            position: unset;
            justify-content: center;
            margin-top: 20px;
        }
    }
}

@media(max-width : 450px){
    .product{
        .info-product{
            .rating-and-order{
                justify-content: flex-start;
                .order-count{
                    flex: 0 0 45%;
                    max-width: 45%;
                }
            }
            .star-product{
                flex: 0 0 55%;
                max-width: 55%;
            }
            .price-product{
                flex-wrap: wrap;
                p{
                    flex: 0 0 100%;
                    max-width: 100%;
                    // font-size: 18px;
                    &:nth-child(2){
                        text-align: left;
                        // font-size: 14px;
                    }
                }
            }
        }
    }
}

@media(max-width : 420px){
    .product{
        .info-product{
            .price-product{
                flex-wrap: wrap;
                p{
                    flex: 0 0 50%;
                    max-width: 50%;
                    &:nth-child(2){
                        text-align: right;
                    }
                }
            }
        }
        .img-product{
            flex: 0 0 100%;
            max-width: 100%;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            img{
                max-width: 100%;
            }
        }
        .img-product+div{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .percent-discout{
            right: 15px;
        }
        .senmall{
            padding: 0 15px;
            justify-content: flex-start;
        }
    }
}

