.container{
    margin: 50px auto;
    background: white;
    .img-waiting{
        max-width: 300px;
        margin: 0 auto 50px;
        padding: 20px;
        display: flex;
        justify-content: center;
        border-radius: 100%;
    }
}
@media(max-width : 991px){
    .container{
        margin-top: 74px;
    }
}
@media(max-width : 480px){
   .container{
        padding: 0;
   }
}