header{
    background: rgb(24, 158, 255);
    position: relative;
    // ===== headline ===== //
    .headline{
        background : rgb(29, 113, 171);
    }
    .container-headline{
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
    }
    .list-services{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text-intro{
        p{
            margin: 0;
            color: white;
        }
    }
    ul.menu{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        a{
            display: inline-block;
            text-decoration: none;
            color: white;
            padding: 15px 20px;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            &:hover{
                color: black;
                background: white;

            }
        }
        button{
            display: inline-block;
            background: none;
            border: none;
            padding: 15px 20px;
            color: white;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            &:hover{
                background: white;
                color: black;
            }
        }
        a.user-logged{
            position: relative;
            padding: 15px 35px;
            &:hover{
                &::before{
                    color: black;
                }
            }
            &::before{
                content: '\f007';
                font-family: 'Font Awesome 5 Free';
                font-weight: 700;
                color: white;
                transition: all 0.3s;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                position: absolute;
                right: 10px;
                font-size: 16px;
            }
        }
    }
    // ===== end ===== //

    // ===== header ===== //
    .container-header{
        max-width: 1140px;
        display: flex;
        margin: 10px auto 0;
        padding: 15px;
        align-items: center;
    }
    .logo{
        flex: 0 0 10%;
        max-width: 10%;
        a{
            display: inline-block;
            height: 100%;
            &:hover >img{
                transform: scale(1.2,1.2);
            }
        }
        img{
            width: 44px;
            height: 44px;
            object-fit: contain;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
        }
    }
    .icon-menu-res{
        display: none;
    }
    .block-list-menu-res{
        left: -100%;
        position: fixed;
    }
    .form-search{
        flex: 0 0 80%;
        max-width: 80%;
        position: relative;
        input{
            width : 100%;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            &:focus,&:hover{
                outline: none;
                outline-offset: 0px;

            }
        }
        span.err-mess{
            display: block;
            color: black;
            // padding-left: 15px;
            font-style: italic;
            font-weight: 500;
            // margin: 10px 0 15px;
            position: absolute;
            top: 13px;
            right: 50px;
            color: red;
        }
        a.btn-submit{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            button{
                font-size: 0;
                padding: 0;
                border: none;
                border-radius: 4px;
                background: none;
                &:hover{
                    &::before{
                        color: #189eff;
                    }
                }
                &:focus{
                    outline: none;
                }
                &:before{
                    font-family : 'Font Awesome 5 Pro';
                    display: inline-block;
                    content : '\f002';
                    font-size: 20px;
                    padding: 7px 15px;
                    transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    border-radius: 4px;
                }
            }
        }
        .history-query{
            opacity: 0;
            transform: scale(0);
            background: white;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            position: absolute;
            width: 100%;
            z-index: 1000;
            // bottom: 1px;
        }
    }

    .logo-cart{
        // margin-left: 20px;
        // padding: 20px 0 0;
        flex: 0 0 5%;
        max-width: 5%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position : relative;
        margin-left: 20px;
        padding: 3.5px 10px;
        text-align: center;
        a.link-logo-cart{
            display: flex;
            font-size: 0;
            text-decoration: none;
            color: black;
            min-width: 38px;
            &::before{
                font-family: 'Font Awesome 5 Pro';
                content :'\f07a';
                font-size: 25px;
                display: block;
                font-weight: 200;
                color: white;
                transition: all 0.3;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
            }
            & > span{
                font-size: 16px;
                color: white;
            }
            &:hover{
                &::before,
                span{
                    color: black;
                }
            }
        }
        .block-cart-res{
            display: none;
        }
        .cart-any{
            transform: scale(0);
            position: absolute;
            font-size: 16px;
            opacity: 0;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            background: whitesmoke;
            border: 1px solid black;
            right: 9px;
            top: 45px;
            cursor: initial;
        }

        &:hover{
            .cart-any{
                transform: scale(1);
                opacity: 1;
                z-index: 1000;
            }
        }

    }
    .cart-res{
        display: none;
    }
    // ===== end ===== //
    .form-logout{
        position: fixed;
        // width: 100%;
        // height: 150%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.774);
        display: flex;
        justify-content: center;
        transform: scale(0);
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        .detail-form{
            text-align: center;
            min-width: 500px;
            max-height: 150px;
            background: rgba(255, 255, 255, 0.973);
            position: absolute;
            top: calc(50% - 75px);
            border-radius: 4px;
            p{
                font-weight: 500;
                margin: 0 0 15px;
                padding: 15px;
            }
            .btns-form-logout{
                display: flex;
                justify-content: center;
                padding: 0 15px;
                margin: 15px 0;
                button{
                    margin: 0 15px;
                    padding: 10px 30px;
                    border: 1px solid #bababa;
                    border-radius: 4px;
                    transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    font-weight: 500;
                    &:hover{
                        background: #189eff;
                        color: white;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}
@media(max-width: 1024px){
    header .logo-cart .cart-any{
        right: 6px;
    }
}
@media(max-width : 991px){
    header{
        position: fixed;
        z-index: 10000;
        top: 0;
        width: 100%;
        .headline{
            display: none;
        }
        .container-header{
            margin: 0;
            .logo{
                display: none;
            }
            .icon-menu-res{
                display: block;
                position: relative;
                flex: 0 0 10%;
                max-width: 10%;
                padding: 3.5px 15px;
                &::before{
                    content: '\f0c9';
                    font-family: 'Font Awesome 5 Pro';
                    font-size: 25px;
                    color: white;
                }
            }
            .block-list-menu-res{
                top: 0;
                // left: 0;
                bottom: 0;
                width: 300px;
                z-index: 10000;
                overflow: scroll;
                background: white;
                left: -100%;
                transition: all 0.5s;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                .btn-close{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;
                    background: black;
                    p{
                        margin: 0;
                        margin-left: 15px;
                    }
                    button{
                        border: none;
                        background: none;
                        width: 40px;
                        height: 40px;
                        padding: 0;
                        font-size: 0;
                        &::before{
                            content: '\f00d';
                            font-family: 'Font Awesome 5 Free';
                            font-size: 25px;
                            font-weight: 700;
                            transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            color: white;
                        }
                        &:hover{
                            &::before{
                                color: #189eff;
                            }
                            
                        }
                    }
                }
                ul.list-menu-res{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        flex: 0 0 100%;
                        max-width: 100%;
                        max-height: 54px;
                        transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        a{
                            display: inline-block;
                            width: calc(100% - 15px);
                            padding: 10px 0;
                            margin-left: 15px;
                            text-decoration: none;
                            color: black;
                        }
                        &:hover{
                            background: #189eff;
                            a{
                                color: white;
                            }
                        }
                        a.user-logged{
                            flex: 0 0 calc(70% - 15px);
                            max-width: calc(70% - 10px);
                            position: relative;
                            padding-left: 25px;
                            &::before{
                                content: '\f007';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 700;
                                color: black;
                                transition: all 0.3s;
                                -moz-transition: all 0.3s;
                                -webkit-transition: all 0.3s;
                                position: absolute;
                                left: 0;
                                top: 9px;
                                font-size: 16px;
                            }
                        }
                        .btn-logout{
                            margin-left: 15px;
                            padding: 10px 0;
                            text-align: left;
                            button{
                                border: none;
                                background: none;
                                padding: 0;
                                &:focus{
                                    outline: none;
                                }

                            }
                        }
                    }
                }
            }
  
        }
        .logo-cart{
            flex: 0 0 10%;
            max-width: 10%;
            margin: 0;
            .cart-any{
                display: none;
            }
            a.link-logo-cart{
                display: none;
            }
            .block-cart-res{
                display: block;
                position: relative;
                button{
                    border: none;
                    background: none;
                    &::before{
                        font-family: 'Font Awesome 5 Pro';
                        content :'\f07a';
                        font-size: 25px;
                        display: block;
                        font-weight: 200;
                        color: white;
                        transition: all 0.3;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                span{
                    position: absolute;
                    bottom: 3px;
                    right: -3px;
                    color: white;
                    font-size: 14px;
                }
            }
        }
        .cart-res{
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            background: white;
            right: -100%;
            transition: all 0.5s;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            overflow: scroll;
            .cart-any{
                height: 100%;
                border: none;
                padding: 10px 15px;
                max-width: 300px;
                &::before{
                    display: none;
                }
                .total-price-all-cart-any a{
                    display: none;
                }
            }
            .btn-close-cart{
                background: black;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    border: none;
                    background: none;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    font-size: 0;
                    &::before{
                        content: '\f00d';
                        font-family: 'Font Awesome 5 Free';
                        font-size: 25px;
                        font-weight: 700;
                        transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        color: white;
                    }
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        &::before{
                            color: #189eff;
                        }
                    }
                }
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                    padding: 8px 10px;
                    transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    &:hover,&:focus{
                        color: #189eff;
                    }
                }
            }
        }
    }
}
@media(max-width: 575px){
    header{
        .container-header{
            .icon-menu-res{
                flex: 0 0 15%;
                max-width: 15%;
                padding: 3.5px 6px;
                text-align: center;
            }
        }
        .form-search{
            flex: 0 0 70%;
            max-width: 70%;
        }
        .logo-cart{
            flex: 0 0 15%;
            max-width: 15%;
            padding: 2.5px 6px;
        }
    }
}
@media(max-width : 500px){
    header .form-logout .detail-form{
        min-width: unset;
        width: calc(100% - 20px);
    }
}
@media(max-width: 480px){
    header .container-header .block-list-menu-res{
        width: 100%;
    }
    .header{
        .cart-res{
            width: 100%;
            .cart-any{
                max-width: 100%;
                tbody{
                    border-bottom: 1px solid #bababa88;
                    padding-bottom: 15px;
                }
                tbody:last-child{
                    border-bottom: none;
                }
                .tr-row-3{
                    display: none;
                }
                hr{
                    background: red;
                    opacity: 0.5;
                }
            }
        }
    }
}
@media(max-width: 380px){
    header .logo-cart .block-cart-res span{
        bottom: 2px;
        right: 0px;
    }
    header{
        .container-header{
            padding: 15px 5px;
        }
    } 
}
@media(max-width : 331px){
    header .form-logout .detail-form .btns-form-logout{
        padding: 0;
    }
}


// clear res

