.info-user{
    padding: 15px 0;
    div{
        margin-bottom: 50px;
    }
    span{
        font-weight: 500;
    }
    .back-to-list{
        display: flex;
        justify-content: center;
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            border : 1px solid black;
            padding: 15px;
            border-radius: 4px;
            transition: all 0.5s;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            position: relative;
            overflow: hidden;
            &:hover{
                border-color: #189eff;
                color: white;
                background: #189eff;
                box-shadow: 0px 0px 4px 6px #189eff inset;
                padding: 15px 15px 15px 30px;
                &::before{
                    left: 10px;
                }
            }
            &::before{
                position: absolute;
                left: -100%;
                content: '\f060';
                font-size: 15px;
                font-family: 'Font Awesome 5 Pro';
                transition: all 0.5s;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                color: white;
            }
        }
    }
}


@media(max-width: 480px){
    .info-user{
        padding: 15px;
    }
}