footer{
    // background: white;
    background: #181818;
}
.container-footer{
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
 
    .way-to-pay,
    .friend-shipper{
        h4{
            font-size: 18px;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: white;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 0;
            margin: 0 0 20px;
        }
        li{
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            margin-bottom: .6rem;
            min-width: 150px;
            background: white;
            img{
                max-width: 110px;
                max-height: 30px;
                object-fit: contain;
            }
        }
    }
}
.footline{
    background: #181818;
    color: white;
    border-top: 1px solid #bababa;
    .container-footline{
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        p{
            flex: 0 0 50%;
            max-width: 50%;
            margin: 0;
            padding: 15px 0;
            text-align: left;
            &:nth-child(2){
                text-align: right;
            }
        }
    }
}

@media(max-width: 991px){
    .container-footer{
        .way-to-pay,
        .friend-shipper{
            li{
                flex: 0 0 calc(20% - 20px);
                max-width: calc(20% - 20px);
                min-width: initial;
                margin: 0 10px 10px;
                img{
                    max-width: none;
                    max-height: none;
                    width: 70px;
                    height: 30px;
                }
            }
        }
    }
}

@media(max-width: 584px){
    .footline{
        .container-footline{
            padding: 15px;
            p{
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0;
                margin-bottom: 10px;
                text-align: center;
                &:nth-child(2){
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}
@media(max-width:480px){
    .container-footer{
        .way-to-pay,
        .friend-shipper{
            li{
                flex: 0 0 calc(25% - 20px);
                max-width: calc(25% - 20px);
                min-width: initial;
                padding: 10px 0;
            }
        }
    }
}

@media(max-width : 380px){
    .container-footer{
        .way-to-pay,
        .friend-shipper{
            li{
                flex: 0 0 calc(33.33% - 20px);
                max-width: calc(33.33% - 20px);
                min-width: initial;
                padding: 10px 0;
            }
        }
    }
}